.section-text__title-centered {
  max-width: 600px;
  text-align: center;
  margin: 0px auto;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #fcfcfc;
}

.service-cards {
  display: flex;
  margin: 0px auto;
  justify-content: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 90px 18px;
  background-color: #fff;
  border-radius: 25px;
  border: none;
  margin: 12px 8px;
  transition: 0.1s all ease-in;
}

.service-card__icon {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 12px auto;
  margin-bottom: 24px;
  border-radius: 50%;
  background-color: #ea4d4e;
  transition: 0.1s all ease-in;
}

.service-card:hover .service-card__icon,
.service-card.active .service-card__icon {
  background-color: #2b044d;
}

@media screen and (max-width: 700px) {
  .service-cards {
    flex-direction: column;
  }
}
