<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /shop-app/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /shop-app/index.html [L]
</IfModule>
