.interactive-ai-icon {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1301;
}

.interactive-ai-icon__button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: solid #2540cc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fec54c;
  border: solid #fec54c;
  transition: transform 0.3s ease;
  transform: scale(1);
}

.interactive-ai-icon__button--pulsive {
  animation: pulsive 1s infinite;
}
.interactive-ai-icon__button:hover {
  animation: none;
}
.interactive-ai-popover__content {
  width: 300px;
}

.interactive-ai-popover__content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.interactive-ai-popover__menu-group {
  padding-block: 15px;
  border-top: 1px solid #0515240f;
}

.interactive-ai-popover__menu-item {
  padding-inline: 16px;
}
.interactive-ai-popover__menu-item-link {
  border-radius: 12px;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 16px;
  list-style: none;
  text-decoration: none;
}

.interactive-ai-popover__menu-item-link:hover {
  background-color: #091e420f;
  transition: background-color 0.3s;
}

.interactive-ai-popover__menu-item div {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .interactive-ai-popover__content {
    max-width: 300px;
    width: auto;
  }
}

@keyframes pulsive {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(254, 197, 76, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(254, 197, 76, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(254, 197, 76, 0);
  }
}
