.interactive-ai-icon {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.interactive-ai-icon__button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: solid #2540cc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fec54c;
  border: solid #fec54c;
  transition: transform 0.3s ease;
  transform: scale(1);
}
.pulse {
  animation: pulse 1s infinite;
}
.interactive-ai-icon__button:hover {
  animation: none;
}

.ai-popover__content {
  padding: 30px;
  width: 300px;
  transform: translateX(-12px);
}
.interactive-ai-icon__popover-title {
  margin-bottom: 20px;
  color: #000000;
  display: block;
  font-weight: 700;
  font-size: 18px;
}

.interactive-ai-icon__popover-description {
  line-height: 24px;
  font-weight: 400;
  color: #000000aa;
  margin-bottom: 20px;
  font-size: 15px;
}
.interactive-ai-icon__popover-link {
  font-weight: 600;
  color: #000000;
}

@media screen and (max-width: 400px) {
  .ai-popover__content {
    padding: 30px;
    max-width: 300px;
    transform: translateX(0);
    width: auto;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(254, 197, 76, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(254, 197, 76, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(254, 197, 76, 0);
  }
}
