.pay-pal__modal {
  padding: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  text-align: center;
  border: 0; /* Ensure no border */
  background-color: transparent;
}

.pay-pal__modal:focus-visible {
  outline: unset !important;
}

.pay-pal__content {
  width: 578px;
  max-height: 590px;
  padding: 32px 24px;
  border: 0;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
  background: #ffff;
  padding: 0 !important;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgb(189 187 187 / 40%) transparent;
}

.pay-pal__checkout {
  padding: 70px;
}
.pay-pal__checkout .pay-pal__formControl {
  margin-bottom: 14px;
}
