/* section {
  background: red;
} */

.demo_columns_content {
  flex-direction: column;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.demo_buttons_rows {
  display: flex;
  gap: 12px;
  padding: 20px;
}

.demo_live_conteiner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1105px;
  align-items: center;
  border: 1px solid rgb(8, 2, 2);
}
#demo {
  background: rgb(239, 243, 246);
  background: linear-gradient(
    180deg,
    rgba(239, 243, 246, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.btn_demo {
  background-color: #a7c95700;
}
