.section-text__title-centered {
  max-width: 600px;
  text-align: center;
  margin: 0px auto;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #000000;
}

#demo .section-text__title-centered {
  color: #ffffff;
}
.grid__3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 35px;
  justify-items: center;
}

.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12px 15px;
  transition: all 0.5s ease;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 10px 20px #d3d3d3;
  width: 79%;
  padding: 25px;
}

.review-card:hover {
  box-shadow: 0 10px 30px 0 rgb(133, 133, 133);
  transform: translateY(-5px);
}
.review-card__icon img {
  border-radius: 50%;
  object-fit: cover;
}

.review-card > * {
  margin: 0px auto;
}
.review-card__icon {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 12px auto;
  margin-bottom: 24px;
  border-radius: 50%;
  background-color: #eeeeee;
  transition: 0.1s all ease-in;
}

.review-card__author__name {
  font-style: italic;
}

.startWithMarginTop {
  margin-bottom: -37px;
}

.review-card__author {
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  right: 5px;
  color: #000000e8;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  bottom: 0;
  right: 0;
  align-items: end;
}

.review-card__text-container > a {
  text-decoration: none;
}

.review__title {
  height: 26px;
  max-width: 300px;
  text-align: center;
  margin-bottom: 41px;
}

/* .review__text {
  max-width: 233px;
}

.review__title {
  max-width: 233px;
} */

.review__text {
  margin-top: 22px;
  max-width: 300px;
  text-align: left;
  cursor: pointer;
}
.read_more_str:hover {
  color: #2540cc;
  border-color: #2540cc;
}

.toggle {
  background: red;
}
.author {
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: max-height 0.3s ease;
}

.css-jkscjg {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.css-15befwp-MuiRating-root {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.read_more_str {
  border-bottom: 2px solid #000000;
  color: #000000;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1007px) and (max-width: 1167px) {
  .review-card__author {
    font-size: 10px;
  }
}

@media screen and (max-width: 1007px) {
  .css-jkscjg {
    font-size: 1rem !important;
  }

  .css-15befwp-MuiRating-root {
    font-size: 1rem !important;
  }
  .review-card__author {
    font-size: 10px;
    margin-bottom: -15px;
  }
}

@media screen and (min-width: 861px) and (max-width: 965px) {
  .review-card__author {
    margin-bottom: -11px;
  }
  .review-card__icon {
    width: 55px;
    height: 55px;
  }
  .review-card__icon svg {
    width: 21px;
  }
}

@media screen and (max-width: 860px) {
  .section-text__title-centered,
  .faq__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .review-card__author {
    margin-bottom: 0;
  }
  .grid__3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .review-card {
    max-width: 318px;
  }
}
