.pricing-card a {
  text-decoration: none;
}
.pricing-cards {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.pricing-card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12px 15px;
  padding: 35px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 10px 20px 0 lightgrey;
  transition: all 0.5s ease;
}
.pricing-card:hover {
  box-shadow: 0 10px 30px 0 rgb(133, 133, 133);
  transform: translateY(-5px);
}
.pricing-card__header {
  border-bottom: 2px solid #f4f4f4;
}
.pricing-card__title {
  color: #000000;
  font-size: 50px;
  font-weight: 600;
}
.pricing-card__title > span {
  vertical-align: baseline;
  font-size: 40%;
}
.pricing-card__subtitle {
  color: #000000aa;
  font-size: 24px;
  font-weight: 300;
  display: block;
  min-height: 1.5em;
  opacity: 0.6;
}

.pricing__text {
  text-align: center;
  max-width: 300px;
  color: #000000aa;
  margin-bottom: 0;
  height: 67px;
}
.canceled-price {
  min-height: 24px;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 19px;
  position: relative;
  margin-right: 10px;
}

.remov_line {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  background-color: red;
  transform: translate(-50%, -50%);
  width: 70px;
}

.parent_saved_money {
  min-height: 48px;
}

.saved_money_div {
  color: #000000;
  display: block;
  background-color: #08cd5d;
  padding: 9px 28px;
  max-width: 100px;
  margin: auto;
  border-radius: 2px;
}

.pricing-card__features {
  list-style-type: none;
  margin: 12px;
  padding: 0;
  text-align: start;
}
.pricing-card__features__list {
  margin: 10px 0px;
  color: #000000;
  font-weight: 300;
  font-size: 17px;
}
.bold__list {
  font-weight: bold;
}
.pricing-card__btn {
  margin-top: 24px;
  position: relative;
  text-decoration: none;
  background-color: #2540cc;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 16px 0;
  border-radius: 6px;
  transition: all 0.2s linear;
  width: 100%;
}
.pricing-card__btn_starter {
  background-color: #000000;
}

.pricing-card__btn_starter:hover {
  background-color: #323232;
}
.pricing-card__btn:hover {
  filter: brightness(1.1);
}

.pricing-card__duration {
  min-height: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.pricing-card__btn_copy {
  height: 26px;
  font-size: 11px;
  font-weight: 300;
  color: #000000aa;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pricing-card__btn_copy svg {
  cursor: pointer;
  vertical-align: bottom;
}
@media screen and (min-width: 1120px) {
  .pricing-card__subtitle {
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 966px) and (max-width: 1120px) {
  .pricing__text {
    height: 80px;
  }
  .pricing-card__btn {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 861px) and (max-width: 965px) {
  .pricing__text {
    max-width: 200px;
    height: 80px;
    font-size: 14px;
  }
  .pricing-card__duration {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .pricing-card__features__list {
    font-size: 15px;
  }
  .pricing-card__title {
    font-size: 35px;
  }
  .canceled-price {
    font-size: 15px;
  }
  .remov_line {
    width: 35px;
    height: 2px;
  }
  .saved_money_div {
    padding: 4px 10px;
    max-width: 84px;
  }
  .pricing-card__btn {
    margin-top: 14px;
    font-size: 0.7rem;
  }
  .pricing-card__subtitle {
    font-size: 20px;
  }
  .pricing-card__btn_copy {
    font-size: 10px;
  }
  .pricing-card__btn_copy svg {
    width: 10px;
  }
}

/* @media screen and (min-width: 700px) and (max-width: 856px) {
  .section-text__desc.pricing__text {
    height: 85px;
    font-size: 11px;
  }
  .pricing-card__duration {
    margin-bottom: 2px;
    margin-top: 2px;
  }

  .pricing-card__features__list {
    font-size: 12px;
    margin: 5px 0;
  }
  .pricing-card__title {
    font-size: 20px;
  }
  .canceled-price {
    font-size: 12px;
  }
  .remov_line {
    width: 30px;
    height: 2px;
  }
  .saved_money_div {
    padding: 2px 7px;
    max-width: 72px;
  }

  .pricing-card__subtitle {
    font-size: 16px;
  }

  .pricing__text {
    max-width: 200px;
  }
  .pricing-card {
    padding: 25px;
  }
  .parent_saved_money {
    min-height: 35px;
  }
  .pricing-card__btn {
    font-size: 0.6rem;
  }
  .pricing-card__btn_copy {
    font-size: 10px;
  }
  .pricing-card__btn_copy svg {
    width: 10px;
  }
} */

@media screen and (max-width: 860px) {
  .pricing-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing-card {
    max-width: 318px;
    width: 79%;
    padding: 25px;
  }
  .pricing__text {
    margin: auto;
    height: auto;
  }
  .pricing-card__features__list {
    font-size: 15px;
  }
  .pricing-card__btn {
    padding: 16px;
    width: 80%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .pricing__text {
    height: 100px;
  }
}

@media screen and (min-width: 350px) and (max-width: 475px) {
  .pricing-card__btn {
    padding: 16px;
    width: 80%;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 349px) {
  .pricing-card__btn {
    font-size: 0.55rem;
  }
}
