.pricing-cards {
  display: flex;
  margin: 0px auto;
  justify-content: center;
}
.pricing-card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12px 15px;
  transition: 0.1s all ease-in;
  padding: 40px 30px 50px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 10px 20px 0px lightgrey;
}
.pricing-card:hover {
  box-shadow: 0 10px 30px 0 rgb(133, 133, 133);
}
/* .pricing-card::before {
    content: "";
    width: 70px;
    height: 130px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    background-image: url("./images/dot-bg.webp");
    transition: 0.2s all ease-in-out;
  }
  .pricing-card:hover::before {
    right: -25px;
    bottom: -27px;
  } */
.pricing-card__header {
  border-bottom: 2px solid #f4f4f4;
}
.pricing-card__title {
  color: #0e4a70;
  font-size: 50px;
  font-weight: 600;
}
.pricing-card__title > span {
  vertical-align: baseline;
  font-size: 40%;
}
.pricing-card__subtitle {
  color: #39465c;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 19px;
  display: block;
  min-height: 1.5em;
  opacity: 0.6;
}

.pricing__text {
  text-align: center;
  max-width: 300px;
  color: #39465c75;
  margin-bottom: 0;
  height: 67px;
}
.canceled-price {
  min-height: 1.5rem;
  color: #0e4a70;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 19px;
  min-height: 1.5rem;
  position: relative;
  margin-right: 10px;
}

.remov_line {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  background-color: red;
  transform: translate(-50%, -50%);
  width: 70px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  background-color: red;
  transform: translate(-50%, -50%);
  width: 70px;
}

.parent_saved_money {
  min-height: 3.5rem;
}

.saved_money_div {
  color: #57667e;
  display: block;
  background-color: #dbff4075;
  padding: 9px 28px;
  max-width: 100px;
  margin: auto;
  border-radius: 2px;
}

.pricing-card__features {
  list-style-type: none;
  margin: 12px 0px;
  padding: 0px;
  text-align: start;
}
.pricing-card__features__list {
  margin: 8px 0px;
  color: #39465c;
  font-weight: 300;
  font-size: 1.1rem;
}
.bold__list {
  font-weight: bold;
}
.pricing-card__btn {
  display: block;
  margin-top: 24px;
  position: relative;
  cursor: pointer;
  background-color: #a7c957;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 28px;
  display: inline-block;
  color: #0e4a70;
  font-weight: 400;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.pricing-card:hover .pricing-card__btn {
  opacity: 0.8;
}

.pricing-card__duration {
  min-height: 1.5rem;
  margin-bottom: 16px;
  margin-top: 16px;
}
/* 
@media screen and (min-width: 966px) and (max-width: 1120px) {
  .pricing__text {
    max-width: 200px;
    height: 80px;
  }
}

@media screen and (min-width: 800px) and (max-width: 965px) {
  .pricing__text {
    max-width: 200px;
    height: 80px;
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .pricing__text {
    height: 100px;
  }
} */

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .pricing-cards {
    flex-direction: column;
    justify-content: center;
  }
  .pricing-cards {
    flex-direction: column;
    justify-content: center;
  }
  .pricing__text {
    margin: auto;
    height: auto;
  }
}
