.section-text {
  min-width: 0px;
  max-width: 1320px;
}

.section-text__title {
  font-size: 50px;
  max-width: 530px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}

.section-text__title-small {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #000000;
}

._features .section-text__desc {
  margin-bottom: 15px;
}

.section-text__desc {
  color: #000000aa;
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 10px;
  font-weight: 400;
  max-width: 339px;
  text-align: start;
}
.grid__6:not(._features) .section-text__desc {
  min-height: 160px;
}
.feature-box {
  margin-bottom: 32px;
  border-radius: 15px;

  background-color: #ffffff;
  transition: all 0.5s ease;
  position: relative;
}
.grid__6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  gap: 35px;
  justify-items: center;
}

.back img {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;

  object-fit: contain;
}

.absolute_btn {
  border-radius: 41px;
  padding: 10px;
  transition: all 0.5sease;
  display: flex;
  align-items: center;
  height: 12px;
  width: 12px;
  border: 2px solid #000000;
  justify-content: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
  overflow: hidden;
}

.grid__6._features .feature-box:hover {
  box-shadow: 0 10px 30px #858585;
  transform: translateY(-5px);
}

div#none {
  visibility: hidden;
}

._features > .col-50 > .section-text__title-small {
  height: 44px;
  margin-bottom: 27px;
}

.absolute_btn {
  border-radius: 41px;
  text-align: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
  overflow: hidden;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  height: 12px;
  width: 12px;
  justify-content: center;
}

.absolute_btn span {
  transform: translate(-208px);
  font-size: 0px;
  opacity: 0;
}

.grid__6 .feature-box:hover .absolute_btn span {
  transform: translate(-9px);
  color: #fff;
  opacity: 1;
  font-size: 16px;
  margin-right: 5px;
  transition: all 0.5s ease;
}

.absolute_btn svg {
  margin-right: -12px;
}
.grid__6 .feature-box:hover .absolute_btn {
  width: 70px;
  padding: 10px 20px;
  background-color: #0e4a70;
}
.absolute_btn svg g path {
  fill: #0e4a70;
}

path.one {
  transition: 0.4s;
  transform: translate(-60%);
}

path.two {
  transition: 0.5s;
  transform: translate(-30%);
}

.feature-box:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}
.feature-box:hover path.two {
  transform: translate(0);
  animation: color_anim 1s infinite 0.4s;
}

.feature-box:hover path.one {
  transform: translate(0);
  animation: color_anim 1s infinite 0.6s;
}

@media screen and (max-width: 400px) {
  .section-text__title {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 860px) {
  .grid__6 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  div#none {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .feature-box {
    margin-bottom: 15px;
  }
  ._features > .col-50 > .section-text__title-small {
    margin-bottom: 10px;
  }
  .grid__6 {
    gap: 25px;
  }
}

@media screen and (max-width: 640px) {
  .grid__6 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .col-50 {
    max-width: 318px;
  }
  .grid__6:not(._features) .section-text__desc {
    min-height: 0px;
  }
}

@media screen and (max-width: 450px) {
  .grid__6 {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .section-text__title {
    text-align: center;
  }

  .grid__4 > .col-50:nth-child(4) {
    grid-column: 1;
  }
  div#none {
    display: none;
  }
}

@keyframes color_anim {
  0% {
    fill: #fff;
  }
  50% {
    fill: #0e4a70;
  }
  100% {
    fill: #fff;
  }
}
