.section-text {
  min-width: 0px;
  width: 100%;
  max-width: 1320px;
}

.section-text__title {
  font-size: 50px;
  max-width: 530px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}

.section-text__title-small {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #000000;
}

._features .section-text__desc {
  margin-bottom: 15px;
}

.section-text__desc {
  color: #000000aa;
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 10px;
  font-weight: 400;
  max-width: 339px;
  text-align: start;
}
.feature-box {
  margin-bottom: 32px;
  border-radius: 15px;

  background-color: #ffffff;
  transition: all 0.5s ease;
  position: relative;
}
.grid__6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  gap: 35px;
  justify-items: center;
}

.back img {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;

  object-fit: contain;
}

.absolute_btn {
  border-radius: 41px;
  padding: 10px;
  transition: all 0.5sease;
  display: flex;
  align-items: center;
  height: 12px;
  width: 12px;
  border: 2px solid #000000;
  justify-content: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
  overflow: hidden;
}

.grid__6._features .feature-box:hover {
  box-shadow: 0 10px 30px #858585;
  transform: translateY(-5px);
}

/* .absolute_btn svg g path {
  fill: #0e4a70;
} */
.grid__6 .feature-box .absolute_btn span {
  color: #ffffff;
}

div#none {
  visibility: hidden;
}

._features > .col-50 > .section-text__title-small {
  height: 44px;
  margin-bottom: 27px;
}

@media screen and (max-width: 400px) {
  .section-text__title {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 860px) {
  .grid__6 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  div#none {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .feature-box {
    margin-bottom: 15px;
  }
  ._features > .col-50 > .section-text__title-small {
    margin-bottom: 10px;
  }
  .grid__6 {
    gap: 25px;
  }
}

@media screen and (max-width: 640px) {
  .grid__6 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .col-50 {
    max-width: 318px;
  }
}

@media screen and (max-width: 450px) {
  .grid__6 {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .section-text__title {
    text-align: center;
  }

  .grid__4 > .col-50:nth-child(4) {
    grid-column: 1;
  }
  div#none {
    display: none;
  }
}
