.section-text_cards {
  min-width: 0px;
  max-width: 1320px;
  width: 100%;
}

.section-text__title {
  font-size: 50px;
  max-width: 530px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}

.section-text__title-small {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #000000;
}

._features svg > path {
  fill: #2540cc;
}

.section-text__desc {
  color: #000000aa;
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 10px;
  font-weight: 400;
  max-width: 339px;
  text-align: start;
}
.grid__9:not(._features) .section-text__desc {
  min-height: 160px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 40px;
  max-width: 1320px;
  margin: 0 auto;
}

.grid__9 {
  grid-template-rows: repeat(3, auto);
}

.grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 10px 20px 0 lightgrey;
  transition: all 0.5s ease;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.grid-item:hover {
  box-shadow: 0 10px 30px #858585;
  transform: translateY(-5px);
}

@media screen and (max-width: 1024px) {
  .grid__9 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 840px;
    margin: 0 auto;
  }
  .grid__3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-item {
    max-width: 400px;
  }

  div#none {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .grid__9 {
    grid-template-columns: repeat(1, 1fr);
  }
}

div#none {
  visibility: hidden;
}

._features .grid-item .section-text__title-small {
  height: 44px;
  margin-bottom: 27px;
  text-align: left;
}
