section.supportandInfo {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

section.supportandInfo .container {
  margin: auto 0px;
  display: flex;
  justify-content: center;
}

/* section#support .container {
  height: 30vh;
} */

.support__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1320px;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  section.supportandInfo {
    height: auto;
  }
}
