section.supportandInfo {
  position: relative;
  height: 60vh;
  display: flex;
  background-color: #64859e;
}

section.supportandInfo .container {
  margin: auto;
}

section.supportandInfo .section-text {
  max-width: 500px;
}

section.supportandInfo .section-image {
  max-width: 40vw;
  height: calc(100% - 0px);
}

@media screen and (max-width: 700px) {
  section.supportandInfo {
    height: auto;
  }
}

.text-white {
  color: #fcfcfc;
}

.text-white a {
  color: #0e4a70;
}
