.section-image-features img {
  width: 80%;
}

.section-text {
  min-width: 0px;
}

.section-text__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #0e4a70;
  max-width: 400px;
}

.section-text__title-small {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 8px;
  color: #0e4a70;
}

.section-text__desc {
  color: #707b8e;
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 15px;
  font-weight: 400;
  max-width: 330px;
}
.feature-box {
  margin-bottom: 32px;
}
.rows {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 30px 0;
}

@media screen and (max-width: 400px) {
  .rows {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 30px 0;
    flex-wrap: wrap;
  }
  .section-text__title {
    text-align: center;
    margin-bottom: 30px;
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 23px;
  padding: 30px 0;
}

@media screen and (min-width: 450px) and (max-width: 720px) {
  .features {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .features {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 6px 0px 0px 39px;
  }
  .section-text__title {
    text-align: center;
  }
}
