footer > .container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer-text__title {
  color: #0e4a70;
  font-size: 17px;
  font-weight: 400;
}

.row__social-website {
  width: 100%;
  max-width: 1105px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  margin: 0px auto;
}

.footer__social-website-icons {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

@media screen and (max-width: 700px) {
  footer {
    height: auto;
  }

  .row__social-website {
    display: flex;
    flex-direction: column-reverse;
  }
  .icons__title {
    margin-top: 5px;
  }
}
