footer > .container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer-text__title {
  color: #0e4a70;
  font-size: 18px;
  font-weight: 700;
}

.icons__title {
  font-size: 15px;
}

.row__social-website {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
}

.footer__social-website-icons {
  display: flex;
  justify-content: space-around;
  gap: 12px;
}

@media screen and (max-width: 700px) {
  footer {
    height: auto;
  }

  .row__social-website {
    display: flex;
    flex-direction: column-reverse;
  }
}
