html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

main {
  z-index: 100;
}
main > *:nth-child(odd) {
  background-color: #64859e;
}

section {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 100px 24px;
}

footer {
  height: 10vh;
  padding: 0px 24px;
  display: flex;
}

.row {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 30px 0;
}

.col-50 {
  width: 100%;
}
.col-30 {
  width: 30%;
  padding: 0px 14px;
}

@media screen and (max-width: 700px) {
  section {
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .section-image,
  .section-image-features,
  .section-image__small {
    display: none;
  }
}
