@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-x: hidden;
}

main {
  z-index: 100;
}
main > *:nth-child(odd) {
  background-color: #eff3f6 !important;
}

section {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 75px 25px;
}

footer {
  padding: 25px;
}

.row {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 30px 0;
}

.col-50 {
  width: 79%;
  padding: 25px;
}
.col-30 {
  width: 30%;
  padding: 0px 14px;
}

@media screen and (min-width: 0px) and (max-width: 965px) {
  .section-text__desc {
    font-size: 14px;
  }
  .section-text__title-big {
    font-size: 3rem;
  }
  .section-text__title {
    font-size: 40px;
    max-width: 500px;
  }
  .section-text__body {
    font-size: 20px;
    max-width: 480px;
  }
  .review-card {
    padding: 21px 8px 54px;
  }
  .section-text__title-small {
    font-size: 20px;
  }

  .review__text {
    max-width: 233px;
  }

  .review__title {
    max-width: 233px;
  }
}

@media screen and (min-width: 700px) and (max-width: 765px) {
  .fi-rs-angle-small-down {
    height: 13px;
    width: 13px;
  }
}

@media screen and (max-width: 700px) {
  .section-text {
    text-align: center;
  }
  .home-text {
    text-align: center;
  }

  section {
    height: auto;
  }
  .section-image,
  .section-image-features,
  .section-image__small {
    margin-bottom: 25px;
  }

  /* .section-image img {
    display: inline;
    max-width: 100%;
  } */

  .hero-conteiner {
    flex-direction: column-reverse;
  }
  .support__row {
    flex-direction: column-reverse;
  }
}
