html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-x: hidden;
}

main {
  z-index: 100;
  margin-top: 47px;
}
main.closed-banner {
  transition: all 1s ease;
  transition-delay: 0.8s;
  margin-top: 0px;
}

.closed-banner {
  transition: top 0.8s ease;
}

main > section#views,
section#features,
section#benefits,
section#review,
section#pricing {
  background-color: #eee !important;
}

main > section#gallery_layouts {
  background-color: #000000 !important;
}

section {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 75px 25px;
}

footer {
  padding: 150px 25px 25px;
  background-color: #1d1d1d;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
.section-image {
  display: inherit;
  aspect-ratio: 660 / 380;
  width: 100%;
  > video,
  .video-slider {
    object-fit: cover;
    box-shadow: 0 0 15px 5px #aaaaaa;
  }
}

@media screen and (max-width: 700px) {
  .row {
    padding: 0;
  }
  section:not([id]) {
    padding-top: 105px;
  }
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}
p {
  margin: 0;
}

@media screen and (max-width: 865px) {
  main {
    margin-top: 70px;
  }
}

@media screen and (min-width: 365px) and (max-width: 490px) {
  main {
    margin-top: 93px;
  }
}

@media screen and (max-width: 364px) {
  main {
    margin-top: 116px;
  }
}

@media screen and (min-width: 0px) and (max-width: 965px) {
  .section-text__desc {
    font-size: 14px;
  }
  .section-text__title-big {
    font-size: 3rem;
  }
  .section-text__title {
    font-size: 35px;
    max-width: 500px;
  }
  .section-text__body {
    font-size: 20px;
    max-width: 580px;
    margin: 30px 0;
  }

  .section-text__title-small {
    font-size: 20px;
  }
  section[id] {
    padding: 25px 25px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
  .fi-rs-angle-small-down {
    height: 13px;
    width: 13px;
  }
}

@media screen and (max-width: 700px) {
  .section-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    height: auto;
  }
  .section-image,
  .section-image-features,
  .section-image__small {
    margin-bottom: 40px;
    width: 100%;
  }

  .hero-container {
    flex-direction: column-reverse;
  }
  .support__row {
    flex-direction: column-reverse;
  }
}

.buttons-container a {
  width: 185px;
  box-sizing: border-box;
  text-align: center;
}

.watch_video {
  margin-left: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 15px 22px;
  color: #000000;
}
.watch_video:hover {
  background-color: #ddd;
}
.buttons-container {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 920px) and (min-width: 701px) {
  .buttons-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
  }
  .watch_video {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .buttons-container {
    justify-content: center;
  }
}

@media screen and (max-width: 515px) {
  .buttons-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
  }
  .watch_video {
    margin-left: 0;
    margin-top: 20px;
  }

  .contact_us_row {
    padding: 50px;
  }
}
