.nav-banner {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: white;
  color: #39465c;
  transition: all 0.8s;
  transform: translateY(0);
  z-index: 999;
  height: 47px;
}

.nav-banner:hover .nav-banner-content-left {
  animation-play-state: paused;
}

.nav-banner.closed {
  transform: translateY(-50px);
}
.nav-banner-content {
  padding: 12px 0px;
  display: flex;

  font-size: 18px;
}

.banner-icon {
  margin-right: 8px;
}
.banner-icon svg {
  vertical-align: middle;
}

.nav-banner-content a {
  color: #0e4a70;
  text-decoration: underline;
}
/* nav-banner-content-left {
      display: flex;
      align-items: center;
    } */
.close-banner {
  position: absolute;
  right: 24px;
  cursor: pointer;
}
.nav-banner-content-left {
  display: flex;
  animation: marquee 13s linear infinite;
  white-space: nowrap;
}

@media screen and (min-width: 800px) and (max-width: 1060px) {
  .close-banner > svg {
    width: 16px;
    height: 16px;
  }
  .nav-banner-content {
    padding: 8px 0px;
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .close-banner > svg {
    width: 14px;
    height: 14px;
  }

  .nav-banner.closed {
    transform: translateY(-75px);
  }
}

@media screen and (max-width: 700px) {
  .close-banner > svg {
    width: 14px;
    height: 14px;
  }

  .nav-banner.closed {
    transform: translateY(-135px);
  }
}

@keyframes marquee {
  0% {
    margin-left: 100%;
    transform: translateX(0%);
  }
  100% {
    margin-left: 0;
    transform: translateX(-100%);
  }
}
