.plans-table__table-mobile {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  display: none;
}

.plans-table__mobile-row {
  display: table-row;
  border-left: 1px solid #e2e8f0;
  border-right: 1px solid #e2e8f0;
  font-size: 14px;
}
.plans-table__mobile-cell--header {
  text-align: center;
}
.plans-table__mobile-cell--header.is-active {
  box-shadow: inset 0 -2px 0 #2540cc;
}

.closed-banner {
  .plans-table__mobile-row--header {
    top: 70px;
  }
}

.plans-table__mobile-row--header {
  border-top: 1px solid #e2e8f0;
  color: black;
  font-weight: 700;
  font-size: 20px;
  background-color: #ffffff;
  position: sticky;
  top: 113px;
  z-index: 10;
}
@media screen and (max-width: 864px) {
  .plans-table__mobile-row--header {
    top: 136px;
  }
}
@media screen and (max-width: 490px) {
  .plans-table__mobile-row--header {
    top: 163px;
  }
}

.plans-table__mobile-row--label {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  background-color: #f5f5f5;
}

.plans-table__mobile-cell {
  padding: 20px;
}
.plans-table__mobile-cell--value {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plans-table__mobile-cell span {
  display: flex;
  gap: 6px;
  position: relative;
  text-align: left;
  color: #000000aa;
}

@media (max-width: 1024px) {
  .plans-table__table-mobile {
    display: table;
  }
}

@media (max-width: 480px) {
  .plans-table__mobile-cell--header {
    padding: 20px 5px;
  }
}
